.blog header nav {
    width: 100%;
    background: royalblue;
    margin-bottom: 15px;
}
.blog header nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.blog header nav ul li{
    display: inline-block;
    margin: 10px;
}
.blog header nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.blog header nav ul li a:hover {
    background: rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0);
}
